{{ define "main" }}
<div class="list-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ $tagsPage := eq .Title "Tags"}}
    {{ if $tagsPage }}
        {{ $paginationSize := 1}}
        {{ if (gt .Site.Params.paginationSize 0) }}
        {{ $paginationSize = .Site.Params.paginationSize }}
        {{ end }}
        {{ $paginator := .Paginate (.Pages) $paginationSize }}
        {{ range $index, $page := $paginator.Pages }}
            {{ partial "tag-entry.html" $page}}
        {{ end }}
        {{ partial "pagination-controls.html" $paginator}}
    {{ else }}
        {{ range (.Pages).GroupByDate "2006" "desc" }}
            <h2 class="year-heading">{{ .Key }}</h2>
            {{ range .Pages }}
                {{ partial "post-entry.html" . }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
