:root {
    --content-primary: rgb(60, 56, 54);
    --content-secondary: rgb(148, 133, 112);
    --background: rgb(251, 241, 199);
    --code-background: rgb(241, 231, 189);
    --code-border: rgb(178, 163, 142);
}

.dark {
    --content-primary: rgb(235, 219, 178);
    --content-secondary: rgb(132, 122, 114);
    --background: rgb(29, 32, 33);
    --code-background: #282828;
    --code-border: rgb(112, 102, 94);
    --blue: rgb(131, 165, 152);
    --purple: rgb(211, 134, 155);
}
