:root {
    --content-primary: #3c3836;
    --content-secondary: #928374;
    --background: #fbf1c7;
    --code-background: #f2e5bc;
    --code-border: #d5c4a1;
    --blue: #af3a03;
    --purple: #8f3f71;
}

.dark {
    --content-primary: #ebdbb2;
    --content-secondary: #a89984;
    --background: #1d2021;
    --code-background: #282828;
    --code-border: #504945;
    --blue: #d65d0e;
    --purple: #b16286;
}
