@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/Times/Times.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/Times/Times.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/Times/Times.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/Times/Times.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/Times/Times.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roamn';
    src: url('/fonts/Times/Times.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
